@import "tailwindcss";

@theme {
  --color-brand-50: #f0f7f9;
  --color-brand-100: #dcf0f3;
  --color-brand-200: #bbe1e7;
  --color-brand-300: #8dcbd7;
  --color-brand-400: #62c0bf;
  --color-brand-500: #418ca3;
  --color-brand-600: #34718a;
  --color-brand-700: #295f8a;
  --color-brand-800: #255071;
  --color-brand-900: #0f3a5f;
}

body {
  margin: 0;
  padding: 0;
}
